body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1c1c1c;
  color: #f5f6f7;
  font-family: Arial;
  font-size: 16px;
}
h1 {
  font-weight: bold;
  font-size: 1.6em;
  margin: 1.5em auto 0.1em auto;
}
header h1, p {
  text-align: center;
}
.desc {
  font-style: italic;
  color: #d9d9d9;
}
form {
  width: 60vw;
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}
fieldset {
  margin: 2.5rem 0;
  padding: 1.5rem;
  border: 1px solid #464646;
}
label {
  display: block;
  margin: 1rem 0;
}
label {
  color: #cbcbcb;
}
legend {
  color: #00dddd;
  padding: 0 1.5rem;
}
.required{
  vertical-align: sub;
  color: red;
  padding-top: 10px;
}
input, textarea, select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 4em;
  font-size: 18px;
}
input, select {
  position: relative;
  padding: 0 1.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
textarea {
  resize: none;
}
input, textarea {
  color: #00dddd;
}
input, textarea, select {
  background-color: #464646;
  border: 1px solid #464646;
}
select {
  background-color: #464646;
  border: 1px solid #464646;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.fuel-type select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.fuel-type {
  position: relative;
}
.fuel-type:before {
  position: absolute;
  top: 50%;
  right: 5%;
  content: ' ';
  border-style: solid;
  border-width: 15px 11px 0 11px;
  border-color: #6e6e6e transparent transparent transparent;
  z-index: 2;
  pointer-events: none;
}
::placeholder, select{
  color: #6e6e6e;
}
.inline {
  display: inline;
  width: unset;
  margin: 0.4rem;
  vertical-align: middle;
}
.inline-block {
  display: inline-block;
  padding: 0 1rem;
}
.terms-and-conditions a {
  color: red;
}
